* {
    margin: 0;
    padding: 0;
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
    color:inherit;
    background-color: inherit;
    box-sizing:border-box
}

html {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
  font-size: 14px;
  height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #222222;
}

h1 {
    font-size: 20px;
    margin: 20px;
}

p {
    margin: 10px;
}

.container {
    display: flex;
    width: 300px;
    height: 150px;
    padding: 20px;
    background-color: #e9e9e9;
    align-items: center;
    justify-content: center;
    border: 1px solid #cecece;
}

#number,
#plus,
#minus,
#reset {
    height: 40px;
    border: 1px solid #cecece;
    border-right: 0;
}

button {
    background-color: #f0f0f0;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
    background-color: #f7f7f7;
    cursor: pointer;
    color: #87c232
}

#number {
    width: 20%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#plus {
    width: 20%;
    font-weight: bold;
}

#reset {
    width: 40%;
}

#minus {
    border-right: 1px solid #cecece;
    width: 20%;
    font-weight: bold;
}