* {
    margin: 0;
    padding: 0;
    border:0;
    font-size:100%;
    box-sizing:border-box;
    font:inherit;
    vertical-align:baseline;
    color:inherit
}

html {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
  font-size: 14px;
  height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #222222;
    height: 100%;
}

h1 {
    font-size: 20px;
    margin: 20px;
}

p {
    margin: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 232px;
    padding: 20px;
    border: 1px solid #cecece;
    background-color: #e9e9e9;
}

#result {
    height: 40px;
    border: 1px solid #cecece;
    padding: 5px;
    display: flex;
    align-items: center;
}

input {
    background-color: #fff;
    border: 1px solid #cecece;
    padding: 0 5px;
    height: 40px;
}

input:focus {
    outline: none;
    border-color: #87c232
}

button {
    height: 40px;
    background-color: #f0f0f0;
    border: 1px solid #cecece;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
    background-color: #f7f7f7;
    cursor: pointer;
    color: #87c232
}

#error {
    height: 20px;
    color:crimson
}