* {
    margin: 0;
    padding: 0;
    border:0;
    font-size:100%;
    box-sizing:border-box;
    font:inherit;
    vertical-align:baseline;
    color:inherit
}

html {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
  font-size: 14px;
  height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    color: #222222;
    background-color: #fff;
    height: 100%;
}

h1 {
    font-size: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 100%;
    gap: 10px;
    width: 100%;
    max-width: 900px;
    padding: 20px;
}

.todo {
    display: flex;

}

input[type="text"] {
    background-color: #fff;
    border: 1px solid #cecece;
    padding: 0 5px;
    height: 40px;
    border-right-color: transparent;
    flex: 1;
}

input[type="text"]:focus {
    outline: none;
    border-color: #87c232
}

button {
    height: 40px;
    background-color: #f0f0f0;
    border: 1px solid #cecece;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
    background-color: #f7f7f7;
    border: 1px solid #87c232;
    cursor: pointer;
    color: #87c232
}

button.current {
    color: #87c232;
    cursor: default;
    border-color: #87c232;
}

#addBtn {
    background-color: #87c232;
    color: #fff;
    border-color: #87c232;
    font-weight: bold;
    width: 30%;
    min-width: 100px;
    max-width: 150px;
}

#addBtn:hover {
    background-color: #fff;
    border: 1px solid #87c232;
    cursor: pointer;
    color: #87c232
}

.deleteBtn {
    width: 40px;
    min-width: 40px;
    font-size: 18px;
    border: 1px solid transparent;
}

.deleteBtn:hover {
    border: 1px solid crimson;
    color:crimson
}

.filterBtn {
    border: 0;
    background-color: #fff;
    height: auto;
    text-decoration: underline;
}

.filterBtn:hover {
    border: 0;
    background-color: #fff;
    text-decoration: none;
}

p#message {
    text-align: center;
    color: #cecece;
    padding: 20px;
    border: 1px dotted #e5e5e5;
}

p#counter {
    text-align: right;
    color: #cecece;
}

#clearCompleted {
    margin-right: auto;
    padding: 0 20px;
}

.hidden {
    display: none!important;
}

li {
  list-style: none;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 0 10px;
  background-color: #f5f5f5;
  overflow-y: hidden;
  height: 40px;
}

li span {
    flex: 1;
}

li + li {
    margin-top: 10px;
}

.completed {
    text-decoration: line-through;
    opacity: 0.2;
}

li input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #cecece;
    background-color: #fff;
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    position: relative;
}

li input[type="checkbox"]:checked::after {
    content: "✔";
    position: absolute;
    top: -2px;
    left: 3px;
    font-size: 16px;
    color: #87c232
}

.filters {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 40px;
    gap: 20px
}