* {
    margin: 0;
    padding: 0;
    border:0;
    font-size:100%;
    box-sizing:border-box;
    font:inherit;
    vertical-align:baseline;
    color:inherit
}

html {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
  font-size: 14px;
  height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #222222;
    background-color: #fff;
    height: 100%;
}

body.dark {
    background-color: #222222;
    color: #bbb;
}

h1 {
    font-size: 20px;
    margin: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 232px;
    padding: 20px;
    border: 1px solid #cecece;
    background-color: #e9e9e9;
}

.dark .container {
    border: 1px solid #777;
    background-color: #444;   
}

button {
    height: 40px;
    background-color: #f0f0f0;
    border: 1px solid #cecece;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dark button {
    background-color: #555;
    border: 1px solid #777;
}

button:hover {
    background-color: #f7f7f7;
    border: 1px solid #87c232;
    cursor: pointer;
    color: #87c232
}

.dark button:hover {
    background-color: #666;
}